 body {
   width: 80%;
   padding: 20px;
   margin: 20px 10% 100% 10%;
   background: #e0e0e0;
   font-family: 'Rubik', sans-serif;
   box-sizing: border-box;
   border-radius: 9px;
   border: 2px solid #a8a8a8;
   box-shadow: 10px 10px 10px blue,
     -10px -10px -10px blue;
 }

 .hrdown {
   margin-top: 40px;
 }

 hr {
   background-color: #e0e0e0;
   width: 25%;
   margin: auto;
   text-align: center;
   border-style: none;
   border-top-style: dotted;
   border-width: 6px;
   border-color: #000;
 }

 /*   Name and designation  */
 #name {
   line-height: 2;
   color: #45B4E1;
 }

 #name::first-line {
   color: #041C32;
 }

 #EDUCATION {
   padding-top: 20px;
   color: #041C32;
 }

 /*   h1 - h6 tags  */
 h1 {
   color: #35858B;
 }

 h2 {
   color: #041C32;
 }

 h3 {
   color: #04293A;
 }

 h4 {
   color: #160040;
 }

 /* div id */
 #profile {
   align-items: center;
   text-align: center;
   justify-content: center;
   margin: 30px;
 }

 #MASOOM {
   width: 250px;
 }

 /*   Profile images  */
 div p a {
   text-decoration: none;
 }

 div .profileimg {
   width: 30px;
   padding-left: 10px;
 }

 /*   section   */
 .summary {
   margin-top: 90px;
   text-align: center;
   line-height: 2;
   text-align: left;
 }

 .Educational {
   margin-top: 90px;
   text-align: center;
   line-height: 2;
   text-align: left;
 }

 .summary p {
   margin: auto 200px auto 32px;
   line-height: 2;
 }

 .Educational P {
   margin: auto 200px auto 32px;
   line-height: 2;
 }

 @media screen and (max-width:390px) {
   .Educational P {
     margin : auto;
   }

   .summary P {
     margin : auto;
   }
   #MASOOM {
     width: 170px;
   }
 }
